@import "/css/main.css";

[data-theme="dark"] {
    --python-primary: #3777ab;
    --python-secondary: #ffd343;
}

[data-theme="light"] {
    --python-primary: #3777ab;
    --python-secondary: #ffd343;
}

.language-title strong {
    font-family: var(--heading-font);
    color: var(--python-primary);

    transition-duration: .5s;
}

.language-title strong:hover {
    color: var(--python-secondary);

    transition-duration: .5s;
}
