.about-me {
    grid-template-areas:
        "history         hobbies                  hobbies"
        "divider-1       divider-1              divider-1"
        "projects        projects                projects"
        "divider-2       divider-2              divider-2"
        "organizations   organizations          fun-facts";

}

@media only screen and (max-width: 1600px) {
    .about-me {
        grid-template-areas:
        "history"
        "hobbies"
        "divider-1"
        "projects"
        "divider-2"
        "organizations"
        "fun-facts";
    }
}

#history {
    grid-area: history;
}

#hobbies {
    padding-left: 0.25rem;
    border-left: solid 0.5rem var(--accent-background);
    grid-area: hobbies;
}

@media only screen and (max-width: 1600px) {
    #hobbies {
        padding-left: 0;
        border-left: 0;
    }
}

#divider-1 {
    border-bottom: solid var(--accent-background) 0.5rem;
    margin: 0.5rem;
    grid-area: divider-1;
}

#projects {
    grid-area: projects;
}

#divider-2 {
    border-bottom: solid 0.5rem var(--accent-background);
    margin: 0.5rem;
    grid-area: divider-2;
}

#organizations {
    grid-area: organizations;
}

#fun-facts {
    padding-left: 0.25rem;
    border-left: solid 0.5rem var(--accent-background);
    grid-area: fun-facts;
}

@media only screen and (max-width: 1600px) {
    #fun-facts {
        padding-left: 0;
        border-left: 0;
    }
}

#history-grid {
    grid-template-areas:
        "history-header             history-header"
        "history-par-1         washington-monument"
        "history-par-2         washington-monument"
        "moon                        history-par-3";
}

@media only screen and (max-width: 1600px) {
    #history-grid {
        grid-template-areas:
            "history-header"
            "history-par-1"
            "washington-monument"
            "history-par-2"
            "moon"
            "history-par-3";
    }
}

#history-header {
    grid-area: history-header;
}

#history-par-1 {
    grid-area: history-par-1;
}

#history-par-2 {
    grid-area: history-par-2;
}

#history-par-3 {
    grid-area: history-par-3;
}

#washington-monument {
    grid-area: washington-monument;
}

#hobbies-grid {
    grid-template-areas:
        "hobbies-header     hobbies-header"
        "pink-flower-cluster hobbies-par-1"
        "pink-flower-cluster hobbies-par-2"
        "hobbies-par-3              rachel"
        "hobbies-par-3              saturn";
}

@media only screen and (max-width: 1600px) {
    #hobbies-grid {
        grid-template-areas:
            "hobbies-header"
            "pink-flower-cluster"
            "hobbies-par-1"
            "hobbies-par-2"
            "rachel"
            "hobbies-par-3"
            "saturn";
    }
}

#hobbies-header {
    grid-area: hobbies-header;
}

#pink-flower-cluster {
    grid-area: pink-flower-cluster;
}

#hobbies-par-1 {
    grid-area: hobbies-par-1;
}

#hobbies-par-2 {
    grid-area: hobbies-par-2;
}

#hobbies-par-3 {
    grid-area: hobbies-par-3;
}

#rachel {
    grid-area: rachel;
}

#saturn {
    grid-area: saturn;
}
