@import "/styles/main.css";

.home {
    grid-template-areas:
        "intro   photo       info"
        "mission photo leadership";

    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (min-width: 800px) and (max-width: 1200px){
    .home {
        grid-template-areas:
        "intro        photo"
        "info         photo"
        "mission leadership";

        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px){
    .home {
        grid-template-areas:
        "intro"
        "photo"
        "info"
        "mission"
        "leadership";

        grid-template-columns: 1fr;
    }
}

.profile-photo {
    width: 100%;
}

#profile-photo {
    grid-row: span 2 / auto;
}
