.home {
    grid-template-areas:
        "intro   photo       info"
        "mission photo leadership";
}

@media only screen and (min-width: 800px) and (max-width: 1200px){
    .home {
        grid-template-areas:
        "intro        photo"
        "info         photo"
        "mission leadership";
    }
}

@media only screen and (max-width: 800px){
    .home {
        grid-template-areas:
        "intro"
        "photo"
        "info"
        "mission"
        "leadership";
    }
}

#intro {
    grid-area: intro;
}

#photo {
    grid-area: photo;
}

#info {
    grid-area: info;
}

#mission {
    grid-area: mission;
}

#leadership {
    grid-area: leadership;
}

.profile-photo {
    width: 100%;
}
