.home-grid {
    display: grid;
    max-width: 70%;
    margin: auto;
    padding: 1rem;
    grid-template-areas:
        "intro"
        "info"
        "mission"
        "leadership";
    grid-gap: 1rem;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

@media (min-width: 768px) {
    .home-grid {
        grid-template-areas:
        "intro           mission"
        "info         leadership";
    }
}

@media (min-width: 1024px) {
    .home-grid {
        grid-template-areas:
        "intro        photo"
        "info         photo"
        "mission leadership";
    }
}

@media (min-width: 1440px){
    .home-grid {
        grid-template-areas:
        "intro   info       photo"
        "mission leadership photo";
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    max-height: 100%;
    padding: 0.5rem;
    border: 0.25rem solid;
    border-radius: 1rem;
    text-align: center;
    transition-duration: 0.25s;
}

@media (min-width: 1024px) {
    .container:hover {
        background-color: var(--primary-light);
        transition-duration: 0.25s;
    }
}

.light {
    border-color: var(--accent-light);
}

.dark {
    border-color: var(--accent-dark);
}

#intro {
    grid-area: intro;
}

#info {
    grid-area: info;
}

#mission {
    grid-area: mission;
}

#leadership {
    grid-area: leadership;
}

#photo {
    display: none;
    grid-area: photo;
    max-height: 100%;
    background-image: url("/assets/images/erick-white.jpg");
    background-size: cover;
    background-position: center 0;
}

@media (min-width: 1024px) {
    #photo {
        display: flex;
    }
}
