[data-theme="dark"] { /* https://www.pullrequest.com/blog/how-to-implement-dark-mode-with-css-js/ */
    --primary-background: #222;
    --primary-light: #333;
    --primary-dark: #111;
    --primary-text: #ddd;

    --heading-font: Tahoma, sans-serif;
    --main-font: Tahoma, sans-serif;

    --accent-background: #1d7fdb;
    --accent-light: #67aeff;
    --accent-dark: #0053a9;
    --accent-text: #000;

    --caption-text: #777;
}

[data-theme="light"] {
    --primary-background: #eee;
    --primary-light: #fff;
    --primary-dark: #ddd;
    --primary-text: #111;

    --heading-font: Tahoma, sans-serif;
    --main-font: Tahoma, sans-serif;

    --accent-background: #04458f;
    --accent-light: #4c70c0;
    --accent-dark: #001f61;
    --accent-text: #fff;

    --caption-text: #666;
}

html, body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: var(--main-font);
    font-size: 16px;
    color: var(--primary-text);
    background-color: var(--primary-dark);
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
}

main {
    width: 100%;
    margin: 0;
    transition: 0.25s;
}

button {
    margin: 0;
    padding: 0.5rem;
}

svg {
    width: 2.5rem;
    padding: 0;
    margin: -2.5rem 1.0rem;
    color: var(--primary-text);
}

@media only screen and (max-width: 1000px) {
    svg {
        width: 2rem;
    }
}

#menu-button {
    display: inline;
    background-color: #0000;
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition-duration: 0.50s;
    z-index: 999;
    cursor: pointer;
}

#menu-button:hover {
    transform: scale(1.35);
    transition-duration: 0.50s;
}

#theme-switch {
    display: inline;
    background-color: #0000;
    border: 0;
    position: fixed;
    top: 0;
    right: 0;
    transition-duration: 0.50s;
    z-index: 999;
    cursor: pointer;
}

#theme-switch:hover {
    transform: scale(1.35);
    transition-duration: 0.50s;
}

nav {
    background-color: var(--primary-light);
    width: 20%;
    height: 100vh;
    position: fixed;
    left: 0;
    display: none;
    z-index: 998;
}

@media only screen and (max-width: 1200px) {
    nav {
        width: 40%;
    }
}

@media only screen and (max-width: 800px) {
    nav {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        width: 100%;
    }
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    font-size: 2rem;
    padding-left: .5rem;
}

nav li:hover {
    background-color: var(--accent-background);
    color: var(--accent-text);
}

nav a {
    text-decoration: none;
    color: var(--primary-text);
    display: block;
    padding: 0.75rem;
}

.spacer {
    height: 7rem;
}

menu {
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-dark);
}

.page-title {
    color: var(--accent-background);
    font-size: 5rem;
    margin: 5rem 0.5rem auto;
    transition-duration: .75s;
}

.page-title:hover {
    color: var(--accent-light);
    transform: scale(1.2);
    transition-duration: .75s;
}

.page-subtitle {
    color: var(--accent-dark);
    font-size: 2rem;
    margin: 0.5rem auto;
}

@media only screen and (max-width: 600px) {
    .page-subtitle {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 600px) {
    .page-title {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 400px) {
    .page-title:hover {
        transform: scale(1.0);
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--primary-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-light);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-background);
}

.stylized {
    color: var(--accent-light)
}

.link {
    text-decoration: none;
    color: var(--accent-light);
    font-weight: bold;
}

section {
    max-width: 100%;
    width: 70%;
    background-color: var(--primary-background);
    margin: 0 auto;
    padding: 1rem 0.5rem;
    display: grid;
    grid-column-gap: 0.25rem;
    grid-row-gap: 0.25rem;
}

img {
    display: block;
    max-width: 100%;
    margin: 0.5rem auto;
}

figcaption {
    font-size: .9rem;
    font-style: italic;
    color: var(--caption-text)
}

.main-background {
    width: 100vw;
    background-color: var(--primary-background);
}

.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 0.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: #00000000;
    transition-duration: .25s;
}

.container:hover {
    background-color: var(--primary-light);
    border-color: var(--accent-background);
    transition-duration: .25s;
}

.divider {
    border-bottom: solid var(--accent-background) 0.5rem;
    margin: 0.5rem;
}

footer {
    background-color: var(--primary-dark);
    text-align: center;
    width: 100%;
    padding: 1rem 0;
}

.footer-text a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--primary-text);
    transition-duration: .25s;
}

.footer-text a:hover {
    color: var(--accent-light);
    transition-duration: .25s;
}

form {
    margin: 0 auto;
}

#contact-form {
    display: block;
    width: 30%;
    margin: auto;
    padding: 1rem;
    border: none;
}

@media only screen and (max-width: 1000px){
    #contact-form {
        width: 50%;
    }
}

@media only screen and (max-width: 600px){
    #contact-form {
        width: 90%;
    }
}

#contact-form * {
    display: block;
    width: 100%;
    min-height: 1rem;
    padding: 0.5rem 0;
}

#contact-form input, textarea {
    color: var(--primary-text);
    background-color: var(--primary-background);
    margin: 0.5rem 0 0 0;
    border: none;
}

#submit {
    margin: auto;
    height: 2em;
    font-size: 1.25rem;
    background-color: var(--primary-light);
    color: var(--primary-text);
    border: 0;
    cursor: pointer;
}

#submit:hover {
    background-color: var(--accent-light);
    color: var(--accent-text);
}

#confirmation {
    display: none;
    margin: 1rem;
}

.empty-page {
    display: flex;
    justify-content: center;
    align-content: center;
}
