.resume {
    grid-template-areas:
        "intro"
        "resume";

    grid-template-rows: auto 100vh;
}

#intro {
    grid-area: intro;
}

#resume {
    grid-area: resume;
}

#resume-file {
    height: 100%;
    border: none;
}
