.work-and-experience-grid {
    display: grid;
    max-width: 100%;
    grid-template-areas:
    "omitron-cara-2024"
    "omitron-cara-2023";
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

@media (min-width: 768px) {
    .work-and-experience-grid {
        margin: auto;
        padding: 1rem;
        grid-template-areas:
        "omitron-cara-2024"
        "omitron-cara-2023";
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
        grid-gap: 1rem;
    }
}

@media (min-width: 1024px) {
    .work-and-experience-grid {
        grid-template-areas:
        "omitron-cara-2024 omitron-cara-2023";
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
    }
}

@media (min-width: 1440px){
    .work-and-experience-grid {
        max-width: 70%;
        grid-template-areas:
        "omitron-cara-2024 omitron-cara-2023";
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    max-height: 100%;
    padding: 0.5rem;
    text-align: center;
    transition-duration: 0.25s;
}

@media (min-width: 768px) {
    .container {
        border: 0.25rem solid;
        border-radius: 1rem;
    }
}

@media (min-width: 1024px) {
    .container:hover {
        background-color: var(--primary-light);
        transition-duration: 0.25s;
    }
}

.light {
    background-color: var(--primary-light);
}

@media (min-width: 768px) {
    .light {
        background-color: var(--primary-background);
        border-color: var(--accent-light);
    }
}

.dark {
    background-color: var(--primary-background);
}

@media (min-width: 768px) {
    .dark {
        background-color: var(--primary-background);
        border-color: var(--accent-dark);
    }
}

button {
    background-color: #00000000;
    border: 0;
}

@media (min-width: 1024px) {
    .expand-button {
        display: none;
    }
}

.hidden {
    display: none;
}

@media (min-width: 1024px) {
    .hidden {
        display: block;
    }

    li.hidden {
        display: list-item;
    }
}

#omitron-cara-2024 {
    grid-area: omitron-cara-2024;
}

#omitron-cara-2023 {
    grid-area: omitron-cara-2023;
}
